body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
#mySidenav {
    border-color: white;
    border-style: none;
    border-radius: 5px;
    border-width: 2px;
}
#mySidenav a {
   
    display: inline-block;
    background: linear-gradient(45deg, cyan, #00ffb3, #0084ff, #006eff, #0000FF, #c300ff, #ff00ff, #ff00f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: rainbowanim 10s ease infinite;
    -moz-animation: rainbowanim 10s ease infinite;
    animation: rainbowanim 10s ease infinite; 
}
body {
    transition: background-color .5s;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.rbow {

    display: inline-block;
    background: linear-gradient(45deg, cyan, #00ffb3, #0084ff, #006eff, #0000FF, #c300ff, #ff00ff, #ff00f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: rainbowanim 10s ease infinite;
    -moz-animation: rainbowanim 10s ease infinite;
    animation: rainbowanim 10s ease infinite;
  }
    @-webkit-keyframes rainbowanim {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes rainbowanim {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @keyframes rainbowanim {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }
#Cont {
    position: absolute;
    top: 50%;
    width: 65vw;
    height: 75vh;
    background-color: #222;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: auto;
}
#Comments {
    position: absolute;
    bottom: 0;
}
#MENUB {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    border-color: white;
  
}
#Home a {
  font-size: 30px;
  display: inline-block;
  background: linear-gradient(45deg, cyan, #00ffb3, #0084ff, #006eff, #0000FF, #c300ff, #ff00ff, #ff00f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: rainbowanim 10s ease infinite;
    -moz-animation: rainbowanim 10s ease infinite;
    animation: rainbowanim 10s ease infinite;
}

.app {
  width: 95%;
  height: 300px;
  background-color: #444;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  margin-top: 25px;
}

.appDesc {
  position: absolute;
  width: calc(100% - 300px );
  border-radius: 10px;
  height: 250px;
  background-color: #333;
  top: 50%;
  transform: translate(0,-50%);
  right: 0;
  margin-right: 15px;
  text-align: left;
  overflow-wrap: break-word;
}

.appDesc p,h3 {
  margin-left: 20px;
}

.appImg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
  min-height: 250px;
  max-height: 250px;
  max-width: 250px;

  margin-left: 15px;
  border-radius: 10px;
}

.PLAY p {
  margin: 0;
}
.PLAY {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 13px;
  min-width: 50%;
  border-radius: 5px;
  border-color: white;
  background-color: black;
}


.playSetts {
  position: absolute;
  top: 0;
   right: 0;
}

#notif {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999999999;
  margin-right: 25px;
  margin-bottom: 5px;
}
#notif h1 {
  margin: 0;
}